@font-face {
  font-family: Yekan Bakh FaNum;
  src: url(/src/Fonts/woff-oeyda-web/PeydaWeb-Medium.woff);
}
@font-face {
  font-family: Yekan Bakh FaNum Regular;
  src: url(/src/Fonts/woff-yekan-bakh/YekanBakhFaNum-Regular.woff);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.aboutContainer {
  padding: 60px 0;
}
.mainAbout {
  display: flex;
  padding: 0 100px;
  width: 100%;
  justify-content: space-evenly;
  direction: rtl;
}
.aboutTextContainer {
  max-width: 50%;
  padding: 0 12px;
}
.aboutImageContainer {
  max-width: 50%;
}
.aboutTextContainer h3 {
  font-weight: 700;
  font-size: 28px;
  font-family: Yekan Bakh FaNum;
  color: #444444;
  margin-bottom: 8px;
}
.aboutTextContainer p {
  text-align: justify;
  font-weight: 400;
  color: #444444;
  font-family: Yekan Bakh FaNum Regular;
  direction: rtl;
  line-height: 1.5;
  width: 100%;
  padding-bottom: 16px;
}
.mainAbout img {
  max-width: 100%;
  padding: 0 12px;
}
.aboutList {
  padding-bottom: 16px;
}
.aboutList li {
  list-style-type: none;
  padding: 0px 0px 8px 26px;
}
.aboutList li i {
  font-size: 20px;
  color: #ffc451;
}
.aboutList li span {
  font-weight: 400;
  color: #444444;
  font-family: Yekan Bakh FaNum Regular;
  margin-right: 15px;
}
@media (max-width: 768px) {
  .mainAbout {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0 12px;
  }
  .aboutImageContainer{
    max-width: unset;
  }
  .aboutTextContainer{
    max-width: unset;
    padding: 24px 12px 0px 12px;
  }
  .aboutList li i {
    font-size: 16px;
  }
  .aboutContainer{
    padding: unset;
  }
}
